.StudentRateContainer {
  padding: 10px 0;
  background: #f8f9fa;
  border-radius: 20px;
  margin-top: 150px;
  
  @media (max-width: 767px) {
    margin-top: 100px;
    padding: 0px 0;
  }

  .SectionTitle {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 32px;
    color: #272727;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.RateCard {
  padding: 35px 30px;
  background: #fff;
  border-radius: 16px;
  margin: 8px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .RateName {
    color: #12141d;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 15px 0px 0;
  }
  .RateParagraph {
    margin: 16px 0;
    line-height: 1.7;
    font-size: 16px;
    height: auto; /* تأكد من أن الارتفاع يمكن أن يتمدد */
    overflow-wrap: break-word; /* لكسر الكلمات الطويلة جدًا ومنعها من الخروج عن الحدود */
    word-wrap: break-word; /* مرادف لـ overflow-wrap */
    white-space: normal; /* تأكد من أن النص يلتف بشكل طبيعي */
  }
}
