.FooterContainer {
  padding: 47px 100px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  @media (max-width: 430px) {
    padding: 47px 30px;
  }
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-top: 150px;
  color: white;
  .logo {
    width: 100px;
    img {
      max-width: 100%;
    }
  }
  h2 {
    @media (max-width: 1002px) {
      margin-top: 30px;
    }
  }
  p {
  }
}
.CopyRight {
  text-align: center;
  background: var(--primary-color);
  border-top: solid 1px rgba(237, 239, 242, 0.24);
  padding-block: 32px;
  text-align: center;
  color: white;
}
.Socials {
  img {
    cursor: pointer;
  }
}
