.LoginContainer {
  min-height: 100vh;
}
.goBack {
  color: #a3aed0;
  font-size: 14px;
  margin-top: 40px;
  text-align: end;
}
.LoginForm {
  margin-top: 112px;
  margin-right: 10px;
}
.LoginForm h3 {
  color: #2b3674;
  text-align: start;
  font-family: Readex Pro;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 155.556% */
  letter-spacing: -0.72px;
  margin-right: 5px;

}
.LoginForm p {
  color: #5a6a85;
  margin-right: 5px;

  text-align: start;
  font-family: Readex Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}
.LoginBanner {
  background-image: url("./../../../assets/images/signInBackGroundImage.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-end-end-radius: 200px;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  padding-right: 0px;
  align-items: flex-end;
  
}
.googleBtn {
  border-radius: 16px;
  border: none;
  padding-block: 20px;
  background: #f4f7fe;
  min-width: 400px;
  color: #2b3674;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
}
.line {
  border: 1px solid #e1e2e6;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.divider {
  margin-bottom: 50px;
  position: relative;
}
.line span {
  position: absolute;
  top: 50%; /* Move the element 50% from the top */
  left: 50%; /* Move the element 50% from the left */
  transform: translate(-50%, -50%); /* Center the element */
  background-color: #fcfcfc;
  padding: 20px;
}
.forgotPassword {
  color: #0062ff !important;

  font-family: Readex Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-decoration: none;
}
.SubmitBtn {
  transition: 0.4s;
  display: flex;
  width: 100%;

  padding: 20px 8px !important;

  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px !important;

  background: #0062ff !important;

  p {
    color: #fff;
  }

  border: none;
  display: block;
  text-align: center;
  font-family: "Readex Pro", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  letter-spacing: -0.28px;
}

.BtnText {
  margin: 0%;
}


.footerList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  margin-top: 20px;
  list-style: none;
  color:white;
  Button {
   
    background: linear-gradient(to right, #868CFF, #4318FF);
    border-radius: 50%;
    padding: 14px;
    svg {
      color: #fff;
      font-size: 20px;
      transform: rotate(-27.5deg);
    }
  }
}

.formGroup {
  margin-bottom: 25px;
  label {
    color: #2b3674;
    font-size: 14px;
    letter-spacing: -0.28px;
    font-weight: 600;
  }
}

.copyright {
  justify-self: end;
  align-self: flex-end;
  position: absolute;
    bottom: 50px;
    left: 140px;
    color : #a3aed0;
}